*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-color: #2C2C2C;
    border-bottom: #fff 2.5px solid;
    position: fixed;
    top: 0; left: 0; right: 0; 
    padding: 4px 2%;
    align-items: center;
    display: flex;
    z-index: 1000;
}

header .AboutUs, .Dashboard, .Visitor{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header .AboutUs{
    margin-right: 15%;
}

header .Dashboard{
    margin-right: 10%;
    margin-left: auto;
}

header .Visitor{
    margin-right: 10%;
}

.logo {
    color: #fff;
    font-size: 100%;
    padding: 10px;
    text-decoration: none;
}

.icon img {
    max-width: 35px;
    max-height: 35px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: white;
}

h1{
    margin-top: 80px;
    color: black;
    margin-left: 80px;
    font-weight: 900;
    font-size: 50px;
}

.dashboard-container {
    width: 100vw;
    height: 100vh;
    overflow-x: auto; 
    display: flex;

}

.small-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
}
.small-box-top {
    min-width: 25vw;
    height: 43vh;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48); 
}

.small-box-bot {
    min-width: 25vw;
    height: 52vh;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48); 
}

.large-box-1 {
    min-width: 40vw; 
    padding: 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48); 
}

.large-box-2 {
    min-width: 50vw;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48); 
}