* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-color: #2C2C2C;
    border-bottom: #fff 2.5px solid;
    position: fixed;
    top: 0; left: 0; right: 0; 
    padding: 10px 2%; /* Increased padding for better spacing on smaller screens */
    align-items: center;
    display: flex;
    z-index: 1000;
}

.logo {
    color: #fff;
    font-size: 100%;
    padding: 10px;
    text-decoration: none;
}

.icon img {
    max-width: 35px;
    max-height: 35px;
}

.home {
    min-height: 100vh;
    width: 100%; /* Adjusted width for better responsiveness */
    background: url(img/Visecure1.png) center/cover; /* Centered and cover for background image */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: home 5s steps(1) infinite;
}

@keyframes home {
    0% {
        background: url(img/Visecure1.png) center/cover;
    }
    25% {
        background: url(img/Visecure2.png) center/cover;
    }
    35% {
        background: url(img/Visecure6.png) center/cover;
    }
}

.home .content h1 {
    font-size: 5vw; /* Responsive font size */
    color: #fff;
    text-align: center;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    color: aliceblue;
    font-size: 18px;
    transform: translateX(-50%);
    left: 50%;
}

#container1 {
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
    background-color: #f0f0f0;
}

#container1 img {
    width: 100%; /* Adjusted width for better responsiveness */
    height: auto; /* Allow the height to adjust proportionally */
    border-top-right-radius: 0; /* Remove border-radius for smaller screens */
    border-bottom-right-radius: 0;
}

.content2 {
    display: flex;
    flex-direction: column;
    margin: 20px 10px; /* Adjusted margin for better spacing on smaller screens */
    align-items: center;
}

h3, p {
    margin-bottom: 10px;
}

.button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%; /* Adjusted width for better responsiveness */
    max-width: 250px; /* Added max-width for larger screens */
    height: 40px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0d7ad4;
}

.icon2 img {
    max-width: 100%;
    max-height: 95px;
    margin-bottom: 20px;
}

footer {
    position: absolute;
    text-align: center;
    margin-top: auto;
    background-color: #081b29;
    color: #fff;
    padding: 20px;
    width: 100%; /* Adjusted width for better responsiveness */
    font-size: 15px;
}

@media screen and (max-width: 720px) {
    header {
        padding: 10px;
    }

    .home .content h1 {
        font-size: 30px; /* Adjusted font size for smaller screens */
        padding-top: 150px;
    }

    #container1 img {
        border-top-right-radius: 20px; /* Restore border-radius for larger screens */
        border-bottom-right-radius: 20px;
    }

    .content2 {
        margin: 20px 0; /* Adjusted margin for smaller screens */
    }
}

@media screen and (max-width: 600px) {
    .home,
    .home .content h1,
    .scroll-down {
        display: none; /* Hide the specified elements on screens with width 600px or less */
    }
}