@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.full-bleed{
    box-shadow: 0 0 0 100vmax #2C2C2C;
    clip-path: inset(0 -100vmax);
}

.inverse{
    background-color: #2C2C2C;
}


header {
    background-color: #2C2C2C;
    border-bottom: #fff 2.5px solid;
    position: fixed;
    top: 0; left: 0; right: 0; 
    padding: 4px 2%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
}

header .AboutUs{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
}

header .CompanyPartner{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: 75px;
}

body{
    background-color: white;
    font-family: 'Inter', sans-serif;
    color: black;
}

.logo {
    color: #fff;
    font-size: 100%;
    padding: 10px;
    text-decoration: none;
}

.icon img {
    max-width: 35px;
    max-height: 35px;
}

.AboutUsIntroContainer{
    display: flex;
    flex-direction: row;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
}

.AboutUsIntroContainer img{
    width: 70dvw;
    height: 70dvh;
    margin-top: 10dvh;
}

.AboutUsIntro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
}

.AboutUsIntro h1{
    font-size: 40px;
    white-space: nowrap;
    padding-left: 50px;
    padding-right: 50px;
}

.AboutUsIntro p{
    text-align: justify;
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

.AboutUsMissionContainer{
    display: flex;
    flex-direction: row;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    padding-left: 80px;
}

.AboutUsMissionContainer img{
    width: 70dvw;
    height: 70dvh;
    margin-top: 5dvh;
}

.AboutUsMission{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AboutUsMission h1{
    font-size: 40px;
    white-space: nowrap;
    padding-left: 50px;
    padding-right: 50px;
}

.AboutUsMission p{
    text-align: justify;
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

.WhyUsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
}

.WhyUsContainer h1{
    font-size: 50px;
}

.WhyUsContainer p{
    text-align: justify;
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

.WhatWeOffer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 100vh; /* Adjust this as needed to control the vertical alignment */
    overflow-y: auto;
    padding: 75px;
}

/* Adjustments for the slideshow container */
.slideshow {
    width: 80%; /* Set width to a percentage or any desired value */
    max-width: 30dvh; /* Set a maximum width if needed */
    margin: 0 auto; /* Center the container horizontally */
}



