*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}



.SideNav{
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s;
    background-color: #2C2C2C;
}


.CompanyLogo{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
    padding: 20px 10px;
    border-bottom: 1px solid white;
    overflow: hidden;
}


.icon{
    width: 70px;
    height: 70px;
}

.CompanyLogo h3{
    color: white;
    margin-left: 30px;
}

ul{
    list-style: none;
    padding: 0 15px;
}

ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    margin: 40px 0;
    cursor: pointer;
}

ul li img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

ul li p{
    color: #9E9E9E;
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
    display: none;
}

.LogOut{
    margin-top: 250px;
}

.SideNav:hover{
    width: 275px;
}

.SideNav:hover .CompanyLogo{
    width: 100%;
}

.SideNav:hover ul li p{
    display: block;
}

/* ul li:hover{
    background-color: #808080;
} */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: white;
}

.DashboardContent{
    position: relative;
    min-height: 100dvh;
    top: 0;
    left: 80px;
    transition: all 0.5s;
    width: calc(100% - 80px);
}

h1{
    margin-top: 80px;
    color: black;
    margin-left: 80px;
    font-weight: 900;
    font-size: 50px;
}

.container{
    display: flex;
    flex-direction: column;
}

.dashboard-container {
    width: 100vw;
    height: 100vh;
    overflow-x: auto; 
    display: flex;
    flex-direction: column;
}

.small-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.TodayVisits, .WeeklyVisits, .TotalVisits {
    width: 25vw;
    height: 30vh;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48); 
}

.TodayVisits{
    margin-left: 125px;
}

.TotalVisits{
    margin-right: 125px;
}

.DashboardInsights{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Graphs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 115px;
}

.WeeklyVisitsGraph, .MonthlyVisitsGraph{
    width: 45vw;
    height: 40vh;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48); 
}

.EmployeeList{
    width: 40vw;
    height: 50vh;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48); 
    margin-right: 125px;
}

